@import url('https://fonts.googleapis.com/css?family=Arsenal:400,400i,700,700i|Russo+One&subset=cyrillic,cyrillic-ext,latin-ext');

.bold {
  font-family: 'Russo One', sans-serif !important;
}

.spiner-container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;

  &.show {
    display: flex;
  }
}
.spinner {
  width: 5vw;
  height: 5vw;
  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ED3558;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.wrap {
  height: 100%;
  width: 100%;

  &.scroll {
    overflow-y: auto;
    scroll-behavior: smooth;
  }
}

#gallery-screen {
  padding-bottom: 100px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  outline: none;
}

p {
  margin: 0;
  padding: 0;
}

// flex

.hidden {
  display: none !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-2 {
  flex: 2 !important;
}

.flex-3 {
  flex: 3 !important;
}

.flex-4 {
  flex: 4 !important;
}

.flex-5 {
  flex: 5 !important;
}

.flex-6 {
  flex: 6 !important;
}

.flex-7 {
  flex: 7 !important;
}

.flex-8 {
  flex: 8 !important;
}

.flex-9 {
  flex: 9 !important;
}

.flex-10 {
  flex: 10 !important;
}

.ai-center {
  align-items: center;
}
.ai-bottom {
  align-items: flex-end;
}

.overflow {
  overflow: hidden !important;
}

.right {
  justify-content: flex-end;
}

.left {
  justify-content: flex-start;
}

.fdr {
  flex-direction: row;
}
.fdc {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.between {
  justify-content: space-between;
}

// flex end

// padding margin

.button {
  p {
    cursor: pointer;
    display: inline-block;
    background-color: #e4306d;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    line-height: 1;
    transition: all 0.3s;
    white-space: nowrap;

    a {
      color: #fff;
      text-decoration: none;
    }

    &:hover {
      background-color: #333;
    }
  }
}

// slede effect roure

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.slide-left-enter,
.slide-right-leave-to {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-to,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

.item-move,
.item-enter-active,
.item-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.item-enter {
  opacity: 0;
  transform: translate(30px, 0);
}

.item-leave-active {
  position: absolute;
  opacity: 0;
  transform: translate(30px, 0);
}

// slede effect roure

// popup

.popups-block {
  .popup {
    position: fixed;
    z-index: 99;
    bottom: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

    &.open {
      bottom: 0;
    }

    .close-container {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
    }

    .wrap-container {
      width: 80%;
      min-height: 400px;
      padding: 20px 10px;
      position: relative;
      background-color: #0d0e0e;
      box-shadow: 11px 5px 16px 0px rgba(0, 0, 0, 0.36);
      border-radius: 10px;

      .close {
        width: 30px;
        height: 30px;
        position: absolute;
        right: -30px;
        top: -30px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #bf9456;

        &:before {
          content: '';
          width: 50%;
          height: 1px;
          background-color: #fff;
          position: absolute;
          top: calc(45% + 1px);
          left: 25%;
          transform: rotate(45deg);
        }
        &:after {
          content: '';
          width: 50%;
          height: 1px;
          background-color: #fff;
          position: absolute;
          top: calc(45% + 1px);
          left: 25%;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

// popup end

// radio
[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  bottom: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-bottom: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 16px;
  height: 16px;
  background: #ce9551;
  position: absolute;
  bottom: 2px;
  left: 2px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
// radio end

.img-container-prev {
  width: 90%;
  height: 200px;
  margin: 20px auto;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

// media
@media only screen and (max-width: 992px) {
  .mob-hidden {
    display: none !important;
  }
}
// media end
