$accent2: #ED3558;

.u-content:not(:last-child) {
  margin-bottom: 1.5rem;
}

.u-content {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
	font-family: RobotoThin;

  &.full {
    max-width: 100%;
  }

  iframe {
    max-width: 100%;
  }
}

.u-content li + li {
  margin-top: 0.25em;
}

.u-content p:not(:last-child),
.u-content dl:not(:last-child),
.u-content ol:not(:last-child),
.u-content ul:not(:last-child),
.u-content blockquote:not(:last-child),
.u-content pre:not(:last-child),
.u-content table:not(:last-child) {
  margin-bottom: 1em;
}

.u-content h1,
.u-content h2,
.u-content h3,
.u-content h4,
.u-content h5,
.u-content h6 {
  color: #363636;
  font-weight: 400;
  line-height: 1.125;
}

.u-content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.u-content h1:not(:first-child) {
  margin-top: 1em;
}

.u-content h2 {
  font-size: 1.75em;
  margin-bottom: 0.5714em;
}

.u-content h2:not(:first-child) {
  margin-top: 1.1428em;
}

.u-content h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em;
}

.u-content h3:not(:first-child) {
  margin-top: 1.3333em;
}

.u-content h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em;
}

.u-content h5 {
  font-size: 1.125em;
  margin-bottom: 0.8888em;
}

.u-content h6 {
  font-size: 1em;
  margin-bottom: 1em;
}

.u-content blockquote {
  background-color: whitesmoke;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em;
  margin: 0;

  ol {
    list-style-type: decimal;
    padding-left: 2em;

    li:before {
      display: none;
    }
  }
}

.u-content ol {
  list-style: decimal outside;
  // margin-left: 2em;
  margin-top: 1em;
  counter-reset: item 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-right: 0.3em;

  & > li:before {
    content: counters(item, '.');
    counter-increment: item;
    color: $accent2;
    border: 0.1em solid $accent2;
    width: 1.6em;
    line-height: 1.6em;
    box-sizing: content-box;
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    margin-right: 0.3em;
  }
}

.u-content ul {
  list-style: disc outside;
  margin: 0;
  padding: 0;
  // margin-left: 2em;
  margin-top: 1em;
  display: inline-block;
  vertical-align: top;
  width: 100%;

  & > li {
    list-style-type: none;
    padding: 0.3em 0.5em;
    margin-bottom: 0.6em;
    border-left: 0.3em solid $accent2;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, 0.1),
      2px -2px 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 5px 0 rgba(0, 0, 0, 0.1),
      -2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s all linear;
  }
}

.u-content ul ul {
  list-style-type: circle;
  margin-top: 0.5em;
}

.u-content ul ul ul {
  list-style-type: square;
}

.u-content dd {
  margin-left: 2em;
}

.u-content figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}

.u-content figure:not(:first-child) {
  margin-top: 2em;
}

.u-content figure:not(:last-child) {
  margin-bottom: 2em;
}

.u-content figure img {
  display: inline-block;
}

.u-content figure figcaption {
  font-style: italic;
}

.u-content pre {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
}

.u-content sup,
.u-content sub {
  font-size: 75%;
}

.u-content table {
  width: 100%;
}

.u-content table td,
.u-content table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

.u-content table th {
  color: #363636;
  text-align: left;
}

.u-content table tr:hover {
  background-color: whitesmoke;
}

.u-content table thead td,
.u-content table thead th {
  border-width: 0 0 2px;
  color: #363636;
}

.u-content table tfoot td,
.u-content table tfoot th {
  border-width: 2px 0 0;
  color: #363636;
}

.u-content table tbody tr:last-child td,
.u-content table tbody tr:last-child th {
  border-bottom-width: 0;
}

.u-content.is-small {
  font-size: 0.75rem;
}

.u-content.is-medium {
  font-size: 1.25rem;
}

.u-content.is-large {
  font-size: 1.5rem;
}
.u-content .highlight {
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}

.u-content .highlight:not(:first-child) {
  margin-top: 1em;
}

.u-content .highlight:not(:last-child) {
  margin-bottom: 1em;
}

.u-content li .highlight {
  margin-top: 0.5em;
}

.u-content .bd-spaced li + li {
  margin-top: 1em;
}

.u-content .highlighter-rouge:not(:last-child) {
  margin-bottom: 1.5rem;
}

.u-content {
  color: #000;
  background-color: #fff;
  padding: 30px 30px;

  h3 {
    font-family: 'Bold';
    margin: 0;
    padding: 10px 0;
  }

  h2 {
    margin: 0;
    padding: 0;
    font-weight: lighter;
    color: #333;
  }

  h6 {
    text-transform: uppercase;
    padding: 5px 0;
    line-height: 1.3;
    margin: 0;
    font-size: 15px;
    font-weight: 100;
  }

  p {
    padding: 10px 0;
    line-height: 1.3;
    margin: 0;
  }

  .color {
    color: $accent2;
  }

  img {
    display: block;
    width: calc(100% + 240px);
    height: auto;
    position: relative;
    left: -120px;
    padding: 20px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 992px) {
  .u-content img {
    width: 100%;
    left: 0;
    padding: 10px 0;
  }
  .u-content {
    padding: 30px 10px;
  }
}
