:root {
  --dark: #333;
  --light: #fff;
  --neutral: #f6f6f6;
  --neutral-dark: #d1d1d1;
  --color-light: #bb2c5b;
  --color-dark: #ED3558;
  --font-stack: 'Josefin Sans', 'Montserrat', 'sans-serif';
}
.u-fixed-menu {
  font-family: RobotoThin;

  .menu__button {
    --x: -50%;
    --y: 0;
    --z: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, var(--color-light), var(--color-dark));
    padding: 10px 20px;
    border-radius: 28px;
    box-shadow: 0 2px 40px -10px var(--dark);
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate3d(var(--x), var(--y), var(--z));
    cursor: pointer;
    z-index: 105;
    transition: 0.15s cubic-bezier(0.33, 1, 0.53, 1);

    &[hidden] {
      --y: 200%;
    }
    
    img {
      height: 20px;
      margin-right: 10px;
    }
  }

  .menu__overlay {
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .menu__body {
    --x: 0;
    --y: 0;
    --z: 0;
    display: block;
    width: 100%;
    background: var(--light);
    padding-bottom: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -9px 50px -30px black;
    position: fixed;
    bottom: 0;
    z-index: 105;
    transform: translate3d(var(--x), var(--y), var(--z));
    transition: 0.2s cubic-bezier(0.33, 1, 0.53, 1);
    &[hidden] {
      --y: 150%;
    }
    > *:not(:last-child) {
      border-bottom: 2px solid var(--neutral);
    }
  }

  .menu__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    label {
      div {
        width: 15px;
        height: 15px;
        border: 2px solid var(--dark);
        border-radius: 50%;
        position: relative;
        transform: rotate(5.5rad);
        &:after {
          content: '';
          width: 2px;
          height: 10px;
          background: var(--dark);
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    p {
      font-size: 18px;
      font-weight: bold;
      vertical-align: center;
      white-space: nowrap;
    }

    .btn-close {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      background: var(--neutral-dark);
      border-radius: 50%;
      cursor: pointer;
      div {
        width: 15px;
        height: 3px;
        background: var(--light);
        position: relative;
        transform: rotate(5.5rad);
        &:before {
          content: '';
          width: 3px;
          height: 15px;
          background: var(--light);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .menu__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 15px;
    font-weight: bold;
    overflow-x: auto;
    a {
      flex: 1 1 1px;
      padding: 10px 8px;
      color: var(--dark);
      text-decoration: none;
      white-space: nowrap;
    }
  }

  .menu__contact {
    display: flex;
    padding: 8px;

    object {
      width: 20px;
      height: 20px;
      margin-bottom: 10px;
      filter: invert(81%) sepia(69%) saturate(99999%) hue-rotate(330deg) brightness(85%) contrast(94%);
    }
    a {
      flex: 1 1 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 20px;
      margin: 5px;
      border-radius: 8px;
      background: var(--neutral);
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      color: #000;
    }
  }
}
