

.u-service-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.u-service-item {
  width: 23%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-bottom: 15px;
  margin-bottom: 30px;

  @include for-table {
    width: 30%;
  }

  @include for-mobile {
    width: 100%;
  }

  &__photo {
    width: 100%;
    height: 325px;

    @include for-desktop {
      height: 230px;
    }

    @include for-table {
      height: 240px;
    }

    @include for-mobile {
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__about {
    background: #fff;
    padding: 5px 5px 15px 5px;
    transition: .4s all;
  }
  
  &__title {
    font-size: 24px;
    text-align: center;
    color: #ED3558;
    margin-top: 22px;
    margin-bottom: 13px;
    font-family: GothaProReg;
    font-weight: 400;
    line-height: 1.1;
  }
  
  &__subtitle {
    text-align: center;
    color: #000;
    margin: 0;
    font-family: GothaProReg;
    font-weight: 400;
    line-height: 1.1;
  }

  &__on-order {
    width: 153px;
    height: 35px;
    border-radius: 50px;
    background-color: #ED3558;
    display: block;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 8px;
    font-family: RobotoThin;
  }

  &:hover {
    .u-service-item {
      &__about {
        background: #ED3558;
      }
      &__title,
      &__subtitle {
        color: #fff;
      }
      &__on-order {
        background-color: #fff;
        color: #333;
      }
    }
  }
}