.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.u-page-head {
  width: 100%;
  text-align: center;
  padding: 50px 0;
  background: #6895a8;
  color: #fff;

  h1 {
    margin: 0;
  }
}

.u-section {
  width: 100%;

  &__title,
  &__subtitle {
    margin: 16px;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.1;
    color: rgba(0,0,0,.87);
  }

  &__title {
    font-family: Conv_GothaProLig;
  }

  &__subtitle {
    font-family: GothaProReg;
  }
}

.u-collapse {
  border-bottom: 1px solid #efefef;

  &-name {
    padding: 12px 0;
    color: #ED3558;
    font-family: GothaProReg;
  }

  &-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in;
  }

  &.opened {
    padding-bottom: 12px;
  }
}
