html,
body {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

#app {
  width: 100%;
}

svg.svg-border {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 100px;
  // z-index: 2;
}

#addFile2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#file2 {
  left: -1px;
  top: -1px;
  opacity: 0;
  outline: none;
}

.wave {
  position: relative;
  width: 100%;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    height: 65px;
    background-size: auto 100%;
    background-repeat: repeat;
  }

  &._grey:before {
    background-image: url('/img/img/wave-grey.svg');
  }

  &._accent:before {
    background-image: url('/img/img/wave-accent.svg');
  }
}

.gallery-section-wrap {
  position: relative;
  .next-container,
  .next-containe-reviews {
    position: absolute;
    top: 0;
    right: 0;
    width: 10vw;
    height: 100%;

    &:before {
      content: '';
      position: absolute;
      top: calc(50% - 2.5vw);
      right: 2vw;
      width: 5vw;
      height: 5vw;
      border: 10px solid #fff;
      transform: rotate(45deg);
      border-left-width: 0;
      border-bottom-width: 0;
    }
  }
}

.group-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  .button {
    background-color: #ED3558;
    padding: 8px 15px;
    margin: 0 8px;
    border-radius: 29px;
    color: #fff;
    border: 1px solid #ED3558;
    width: 100%;
    cursor: pointer;

    &.white {
      background-color: transparent;
      color: #ED3558;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  z-index: 9999;
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  z-index: 9999;
  opacity: 0;
}

#price-screen {
    padding: 30px;
    box-sizing:border-box;
    background-color: #F7F7F7;
    position: initial!important;

    .wrapper-global .wrap-price h3 {
        margin-top: 0;
    }
    .group-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.portfolio-contents {
    padding-bottom: 100px;
    
    .img-container {
		min-width: 50px;
		width: 100%;
    height: 360px;
    display: block;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}
.wrapper-global .wrap-price {
  overflow: hidden;
}

#otzuv-screen {
  padding: 30px;
  box-sizing:border-box;
  padding-bottom: 100px;
}

#steps-screen.scrollspy {
  padding: 30px;
  box-sizing:border-box;
  padding-top: 0;
  background-color: #F7F7F7;
}

.all-price-section {
  padding-top: 20px;
  .form-content {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        flex-basis: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 6px 0px;
        padding: 5px;
        font-size: 18px;
        border-bottom: 1px solid #ffc5b8;
        cursor: pointer;

        .button {
          font-family: serif;
          font-size: 18px;
          color: #ED3558;
          font-weight: 100;
          background: transparent;
          line-height: 1;
          margin-left: 30px;
          font-family: Roboto;
        }
      }
    }
  }
}

.modal-box, .modal-message, .modal-big-form {
  display: none;
  &.open {
    display: block;
  }
}

.wrapper-global .wrap-content .header .header-content .header-content-right .form .inputs-header {
  margin-top: 20px;
}

