.menu-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #efefef;

  @include for-mobile {
    padding: 10px 0;
  }

  a, span {
    font-size: 14px;
  }
  
  &__locale {
    @include for-table {
      display: none!important;
    }
  }

  &__phone {
    @include for-mobile {
      display: none!important;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    a {
      width: 50px;
      display: block;
    }

    span {
      white-space: nowrap;
      margin-left: 10px;
      font-weight: bold;

      @include for-desktop {
        display: none;
      }

      @include for-table {
        display: block;
      }
    }

    img {
      width: 100%;
    }

    @include for-mobile {
      a {
        width: 35px;
      }

      span {
        font-size: 10px;
      }
    }
  }

  &__group {
    display: flex;

    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;

      @include for-table {
        justify-content: center;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 30px;

      &:first-child {
        margin-left: 0;
      }
    }

    a, span {
      display: block;
      color: #000;
      font-weight: bold;
      text-decoration: none;
    }

    i {
      color: #ED3558;
      margin-right: 10px;
    }
  }

  &__call-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    height: 48px;
    color: #fff;
    text-decoration: none;
    background-color: #ED3558;
    border-radius: 20px;
    padding: 0 25px;
    border: 2px solid #ED3558;
    box-sizing: border-box;

    span {
      display: block;
      white-space: nowrap;
      line-height: 0;
      color: #fff;
    }

    .fa {
      margin-right: 10px;
      background-color: #ED3558;
      color: #fff;
    }
    
    &:hover {
      background-color: #fff;
      color: #ED3558;

      span {
        color: #ED3558;
      }

      .fa {
        background-color: #fff;
        color: #ED3558;
      }
    }

    @include for-mobile {
      padding: 0 15px;
      margin-left: 10px;

      span {
        font-size: 10px;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    a {
      white-space: nowrap;
      font-weight: 700;
      margin-left: 20px;
      color: #343434;
      text-decoration: none;

      &:hover, &.active {
        // color: #ED3558;
        border-bottom: 1px solid #ED3558;
      }
    }

    @include for-table {
      display: none;
    }
  }
}
