@mixin hide-scrollbar() {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin for-large-desktop {
  @media (max-width: 1178px) {
    @content;
  }
}

@mixin for-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-table {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin for-mobile {
  @media (max-width: 512px) {
    @content;
  }
}
  