@import './mixin.scss';
@import './layout.scss';
@import './base.scss';
@import './main.scss';

@import '../libs/css/import-fonts.css';
@import '../libs/css/font-awesome.min.css';
@import '../libs/css/style.css';

@import './menu.scss';
@import './fixed-menu.scss';
@import './content.scss';

@import './home.scss';
@import './catalog.scss';


@import '../libs/css/media.css';

@media only screen and (max-width: 512px) {
  #price-screen {
    .group-block {
      flex-direction: column;
      margin-bottom: 20px;

      h3 {
        margin-bottom: 10px;
      }
    }
  }
  .portfolio-contents {
    .img-container {
      height: 210px;
    }
  }
  .all-price-section .form-content ul li {
    flex-basis: 100%;
  }
}
