@font-face {
font-family: GothaProReg; 
src: local("GothaPro"), 
     url('../../fonts/GothaProReg.woff2') format('woff2'),
     url('../../fonts/GothaProReg.woff') format('woff'),
     url('../../fonts/GothaProReg.ttf') format('truetype');
}
@font-face {
font-family: RobotoThin; 
src: local("Roboto Thin"), 
     url('../../fonts/GothaProLig.woff2') format('woff2'),
     url('../../fonts/GothaProLig.woff') format('woff'),
     url('../../fonts/GothaProLig.ttf') format('truetype'); 
}
@font-face {
font-family: RobotoMedium; 
src: local("Roboto Medium"), 
     url('../../fonts/GothaProBol.woff2') format('woff2'),
     url('../../fonts/GothaProBol.woff') format('woff'),
     url('../../fonts/GothaProBol.ttf') format('truetype'); 
}
