@media only screen and (max-width: 1178px){
.wrapper-global .wrap-content .header .header-content .header-content-left{
	margin-right: 0;
}

.wrapper-global .wrap-contents .wrap-icon .iacon-content .icon-item{
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.wrapper-global .wrap-contents .wrap-icon .iacon-content .icon-item p{
	text-align: center;
}
.wrapper-global .wrap-contents .wrap-otz{
	padding: 20px;
}
.wrapper-global .footer{
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 10px;
}
.wrapper-global .wrap-contents .step .item-step p{
	text-align: center;
}
.wrapper-global .dot-nav{
	display: none;
}
.slick-initialized .slick-slide{
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.wrapper-global .wrap-contents .step .items-step .item-step h3{
	text-align: center;
}
.wrapper-global .wrap-contents .wrap-icon .iacon-content{
	flex-wrap: wrap;
}
}
@media only screen and (max-width: 1024px){
.wrapper-global .wrap-content .header .header-content{
	flex-direction: column;
	  margin-bottom: 70px;
}
.wrapper-global .wrap-content .header .header-content .header-content-left{
	display: none;
}
.wrapper-global .wrap-content .header{
	justify-content: flex-start;
}
.wrapper-global .wrap-content .header .header-content .header-content-right h3{
	padding: 0;
	text-align: center;
}
.wrapper-global .wrap-content .header .header-content .header-content-right h5{
	text-align: center;
	padding: 0;
}
.wrapper-global .wrap-content .header .header-content .header-content-right .form .header-form-h img{
	display: none;
}
.wrapper-global .wrap-content .header .header-content .header-content-right .form .header-form-h{
	padding: 0;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
	margin-bottom: 30px;
}
form p:last-child{
	    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrapper-global .wrap-content .header .header-content .header-content-right .form{
	margin-top: 30px;
}
.wrapper-global .wrap-contents .wrap-icon .iacon-content{
	justify-content: center;
}
.wrapper-global .wrap-contents .wrap-icon .iacon-content .icon-item{
	margin-left: 20px;
	margin-right: 20px;
}
.wrapper-global .wrap-contents .gallery .header-content-right{
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.wrapper-global .wrap-contents .gallery .header-content-right .header-g-r{
	width: 100%;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 30px;
}
.wrapper-global .wrap-contents .gallery .header-content-right .header-g-r p{
	text-align: center;
}
.wrapper-global .wrap-contents .gallery .header-content-right .header-g-r a{
	text-align: center;
}
.wrapper-global .wrap-contents .gallery .gallery-content{
	justify-content: space-around;
}
.wrapper-global .wrap-price h3{
	text-align: center;
}
.wrapper-global .wrap-price .price-content .price-list .price-list-item{
	justify-content: center;
}
.wrapper-global .wrap-price .price-content{
	justify-content: center;
	-ms-align-items: flex-start;
	align-items: flex-start;
	flex-direction: column;
}
.wrapper-global .wrap-price .price-content ul{
	/* display: none; */
	width: 100%;
	height: auto;
}
.wrapper-global .wrap-price .price-content ul .li-img img, .wrapper-global .wrap-price .price-content ul .li-img {
	position: relative;
	height: auto;
	width: 100%;
}
.wrapper-global .wrap-price .price-content ul li img{
	width: 100%;
}
.wrapper-global .wrap-price .price-content .price-list {
	width: 100%;
}
.wrapper-global .wrap-photo h3{
	text-align: center;
}
.wrapper-global .wrap-photo{
	padding-bottom: 0;
}
.wrapper-global .wrap-contents .step .items-step .rrr{
	display: none;
}
.wrapper-global .wrap-contents .step .items-step{
	flex-wrap: wrap;
	justify-content: center;
}
.wrapper-global .wrap-contents .wrap-what .what-ask{
	width: 100%;
	text-align: center;
	padding-left: 0;
	margin-bottom: 50px;
}
.wrapper-global .wrap-contents .wrap-what{
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
}
.wrapper-global .wrap-contents .wrap-what .what-ask h3{
	width: 100%;
}
.wrapper-global .wrap-contents .wrap-what{
	margin-top: 0;
}
.wrapper-global .wrap-contents .wrap-what .siren{
	width: 100%;
	height: 100%;
}
.wrapper-global .wrap-contents .wrap-what .video{
	position: relative;
	width: 600px;
	height: 350px;
	right: 0;
	bottom: 0;
	margin-bottom: 30px;
}
.wrapper-global .wrap-contents .wrap-otz .otz-h{
	text-align: center;
}
.wrapper-global .wrap-contents .wrap-otz .form-otzuv{
	flex-direction: column;
}
.wrapper-global .wrap-contents .wrap-otz .form-otzuv .form{
	margin-top: 30px;
	width: 100%;
}
.wrapper-global .wrap-contents .vudacha h3{
	width: 100%;
	text-align: center;
}
.wrapper-global .wrap-contents .vudacha .items-vud .item-vud h3{
	margin-left: 0;
}
.wrapper-global .wrap-contents .vudacha .items-vud .item-vud img{
	display: none;
}
.wrapper-global .wrap-contents .vudacha .items-vud{
	flex-wrap: wrap;
}
.wrapper-global .wrap-contents .wrap-icon{
	height: 100%;
	margin-bottom: 50px;
}
}
@media only screen and (max-width: 960px){
.wrapper-global .wrap-content .header .header-content{
	margin-bottom: 79px;
}

.wrapper-global .wrap-price .price-content {
	padding-bottom: 0px;
}

.wrapper-global .wrap-price .price-content .price-list {
	display: block;
	overflow-x: scroll;
	white-space: nowrap;
}

.wrapper-global .wrap-price .price-content .price-list .price-list-item {
	justify-content: flex-end;
	display: inline-flex;
    vertical-align: middle;
	width: 220px;
    height: 220px;
}
.wrapper-global .wrap-price .price-content .price-list .price-list-item.active {
	box-shadow: none;
}
.wrapper-global .wrap-price h3{
	margin-bottom: 0;
	font-size: 23px;
}
.wrapper-global .wrap-photo h3{
	font-size: 30px;
}
.wrapper-global .wrap-contents .step .items-step .item-step h3{
	font-size: 22px;
}
.wrapper-global .wrap-contents .wrap-what .what-ask h3{
	font-size: 30px;
}
.wrapper-global .wrap-contents .wrap-what .video{
	width: 400px;
	height: 250px;
	margin-bottom: 50px;
}
.wrapper-global .wrap-contents .wrap-what .what-ask{
	margin-bottom: 30px;
}
.wrapper-global .wrap-contents .wrap-otz .otz-h{
	font-size: 30px;
}
.wrapper-global .wrap-contents .vudacha h3{
	font-size: 30px;
}
.wrapper-global .wrap-contents .vudacha .items-vud .item-vud h3{
	font-size: 20px;
}
.wrapper-global .footer .footer-content{
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.wrapper-global .footer .footer-content .item-footer{
	border: none !important;
}
.wrapper-global .footer .footer-content .item-footer p{
	text-align: center;
}
}
@media only screen and (max-width: 512px){
	.wrapper-global .wrap-content .header .header-content .header-content-right .form .inputs-header .inputs-h input{
		padding-left: 0;
		text-align: center;
	}
	.wrapper-global .wrap-content .header .header-content .header-content-right h1{
		font-size: 25px;
		text-transform: uppercase;
		font-family: RobotoMedium;
		text-align: center;
	}
	.wrapper-global .wrap-content .header .header-content .header-content-right h3{
		font-size: 22px;
		text-transform: uppercase;
		font-family: RobotoMedium;
	}
	.wrapper-global .wrap-content .header .header-content .header-content-right .form .inputs-header{
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}
	.wrapper-global .wrap-content .header .header-content .header-content-right .form .inputs-header .inputs-l .text-in{
		display: none;
	}
	.wrapper-global .wrap-content .header{
		padding-bottom: 50px;
	}
	.wrapper-global .wrap-content .header .header-content .header-content-right .form{
		margin-top: 0;
	}
	.wrapper-global .wrap-contents .wrap-otz .form-otzuv .disc-form-otzuv{
		width: 100%;
	}
	.wrapper-global .wrap-contents .wrap-otz .form-otzuv .form{
		flex-direction: column;
		margin-top: 0;
	}
	.wrapper-global .wrap-contents .wrap-otz .form-otzuv .form .inputs-l{
		-ms-align-items: center;
		align-items: center;
	}
	.wrapper-global .wrap-contents .wrap-otz .form-otzuv .form .inputs-l p{
		text-align: center;
	}
	.wrapper-global .wrap-contents .wrap-otz .form-otzuv .disc-form-otzuv .fa{
		display: none;
	}
	.wrapper-global .wrap-contents .wrap-otz .form-otzuv .disc-form-otzuv span{
		text-align: center;
	}
	.wrapper-global .wrap-contents .wrap-what .video{
		width: 300px;
		height: 170px;
	}
	.wrapper-global .wrap-contents .wrap-icon .iacon-content .icon-item{
		margin-right:  5px;
		margin-left: 5px;
	}
	.wrapper-global .wrap-contents .wrap-icon .iacon-content .icon-item p{

	}
	.wrapper-global .wrap-contents .wrap-icon .iacon-content{
		/* flex-direction: column; */
	}

	.wrapper-global .wrap-contents .wrap-icon .iacon-content .icon-item p{
	}
}
