h1,h2,h3,h4,h5{
	font-family:GothaProReg;
}

a,span{
	font-family: RobotoThin;
}
b{
	font-family:RobotoMedium !important;
}
p{
	font-family:GothaProReg;
	line-height: 20px;
}
html,body, .wrapper-global{
	width: 100%;
	overflow-x:hidden;
	box-sizing: border-box;
}
.slider{
	min-height: 800px !important;
	z-index: 0 !important;
}
.slides{
	height: 100% !important;
}
.slider .indicators{
	display: none;
}
.wrapper-global{
	position: relative;
}
.wrapper-global .wrap-contents .wrap-otz .form-otzuv .disc-form-otzuv .text-form{
	line-height: 20px;
}
.wrapper-global .wrap-content {
	position: relative;
	box-sizing: border-box;
}
.wrapper-global .wrap-contents {
	box-sizing: border-box;
}
.wrapper-global .dot-nav{
	position: fixed;
	top: 31%;
	right:250px;
}

.wrapper-global .dot-nav li a{
	font-family: RobotoMedium;
	color: #BBB7B7;
	opacity: 0.5;
}
.wrapper-global .dot-nav li a span{
	display: none;
}
.wrapper-global .dot-nav li .active span{
	display: inline;
	color: #ED3558;
	font-size: 23px;
}
.wrapper-global .dot-nav li .active{
	font-size:23px;
	color: #ED3558;
	opacity: 1;
}
.wrapper-global{
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
}
.wrapper-global .wrap-content{
	padding: 30px 0;
	width: 100%;
	background: #000 url('/img/img/baccc.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* min-height:850px; */
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

@media (max-width: 1024px) {
  .wrapper-global .wrap-content {
    background: #000 url('/img/img/baccc.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }
}
.wrapper-global .wrap-contents{
	box-sizing: border-box;
	width: 100%;
	position: relative;
}
.wrapper-global .wrap-content .header{

		display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
	max-width: 1140px;
	height: 100%;
	color: #fff;
	margin: 0 auto;
	/* z-index: 899 !important; */
}
.wrapper-global .wrap-content .header .header-content{
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-start;
	align-items: flex-start;

}
.wrapper-global .wrap-content .header .header-content .header-content-left{
	margin-right: 140px;
	position: relative;
    bottom: -50px;
}
.wrapper-global .wrap-content .header .header-content .header-content-left img{
max-height: 630px;
max-width: 615px;

}
.wrapper-global .wrap-content .header .header-content .header-content-right{
	display: flex;
	flex-direction: column;
	background-image: url('/img/img/header-right-back.png');
	background-position: center;
	background-size: cover;
}
.wrapper-global .wrap-content .header .header-content .header-content-right h1{
font-size: 50px;
margin-top: 15px;
margin-bottom: 10px;
margin-left: 10px;
font-family: RobotoMedium;
}
.wrapper-global .wrap-content .header .header-content .header-content-right h3{
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 40px;
	padding-left: 10px;
	font-family: RobotoThin;
}
.wrapper-global .wrap-content .header .header-content .header-content-right h5{
	font-size: 14px;
	margin-top: 0;
	padding-left: 10px;
}
.wrapper-global .wrap-content .header .header-content .header-content-right h5:before{
	width: 72px;
	height: 72px;
	background-image: url('/img//img/el.png');
}
.wrapper-global .wrap-content .header .header-content .header-content-right .form{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
.wrapper-global .wrap-content .header .header-content .header-content-right .form .header-form-h{
	display: flex;
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;
	padding-left: 10px;
	padding-top: 45px;
}
.wrapper-global .wrap-content .header .header-content .header-content-right .form .header-form-h p{
	font-size: 24px;
	margin-bottom: 12px;
	line-height: 30px;
}
.wrapper-global .wrap-content .header .header-content .header-content-right .form .header-form-h img{
	margin-right: 20px;
}
.wrapper-global .wrap-content .header .header-content .header-content-right .form .inputs-header{
	display: flex;
	justify-content: space-center;
}
.wrapper-global .wrap-content .header .header-content .header-content-right .form .inputs-header .inputs-h{
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
}
.wrapper-global .wrap-content .header .header-content .header-content-right .form .inputs-header .inputs-h input{
	border-radius: 30px;
	border: none;
	margin: 10px;
	padding: 10px;
	padding-left: 20px;
	outline: none;
	width: 200px;
	height: 20px;
	color: #000;
	background-color: #fff;
}
.wrapper-global .wrap-content .header .header-content .header-content-right .form .inputs-header .inputs-l{
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
}
.wrapper-global .wrap-content .header .header-content .header-content-right .form .inputs-header .inputs-l .donload_photo, .send_header, .text-in{
border-radius: 30px;
	border: none;
	margin: 10px;
	padding: 10px;
	padding-left: 20px;
	outline: none;
	width: 190px;
	text-align: center;
	font-size: 13px;
}
.wrapper-global .wrap-content .header .header-content .header-content-right .form .inputs-header .inputs-l .donload_photo, .send_header{
	color: #fff;
	background-color: #ED3558;
	text-decoration: none;
	transition: .4s all;
	border: 2px solid #ED3558;

}
.wrapper-global .wrap-content .header .header-content .header-content-right .form .inputs-header .inputs-l button .fa, a .fa{
	margin-right: 10px;
}
.wrapper-global .wrap-content .header .header-content .header-content-right .form .inputs-header .inputs-l a:hover, button:hover, .donload_photo:hover{
border: 2px solid #ED3558;
color: #ED3558;
background-color: #fff;
transition: .4s all;
}
.wrapper-global .wrap-content .header .header-content .header-content-right .form .inputs-header .inputs-l button{
	width: 224px;
}
.wrapper-global .icon-wrapss{
		background-color: #F7F7F7;
    	/* z-index: 999 !important; */
}
.wrapper-global .wrap-contents .wrap-icon{
	margin-bottom:50px;
}
.wrapper-global .wrap-contents .wrap-icon .iacon-content{
max-width: 1140px;
margin: 0 auto;
display: flex;
justify-content: space-between;
-ms-align-items: center;
align-items: center;
}

.wrapper-global .wrap-contents .wrap-icon .iacon-content .icon-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
}
.wrapper-global .wrap-contents .wrap-icon .iacon-content .icon-item img{
	margin-bottom: 20px;
	width: 70px;
}
.wrapper-global .wrap-contents .wrap-icon .iacon-content .icon-item p{
	text-align: center;

}
.wrapper-global .wrap-contents .gallery{

	max-width: 1140px;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}
.wrapper-global .wrap-contents .gallery .header-content-right{
	width: 100%;
	display: flex;
}
.wrapper-global .wrap-contents .gallery .header-content-right .header-g-r{
	width: 20%;
}
.wrapper-global .wrap-contents .gallery .header-content-right .header-g-r{
	padding-top: 20px;
}
.wrapper-global .wrap-contents .gallery .header-content-right .header-g-r p{
	font-size: 14px;
	margin-bottom: 30px;
}
.wrapper-global .wrap-contents .gallery .header-content-right .header-g-r a{
	width: 195px;
	border: 2px solid #ED3558;
	border-radius: 50px;
	padding: 5px;
	text-decoration: none;
	padding-left: 25px;
	padding-right: 25px;
	color: #ED3558;
	transition: .4s all;
}
.wrapper-global .wrap-contents .gallery .header-content-right .header-g-r a:hover{
	background-color: #ED3558;
	color: #fff;
	transition: .4s all;
}
.wrapper-global .wrap-contents .gallery .header-content-right .header-g-r a i{
	margin-right: 10px;
}
.wrapper-global .wrap-contents .gallery .gallery-content{
	max-width: 1140px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: space-between;
}
.wrapper-global .wrap-contents .gallery .gallery-content .gallery-item{
	width: 262px;
	height: 487px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
	transition: .4s all;
	margin: 5px;
	cursor: pointer;
}
.wrapper-global .wrap-contents .gallery .gallery-content .gallery-item:hover .disc-gallery-item{
	background-color: #ED3558;
	transition: .4s all;
}


.wrapper-global .wrap-contents .gallery .gallery-content .gallery-item .photo-gallery{
	width: 100%;
	height: 325px;
}
.wrapper-global .wrap-contents .gallery .gallery-content .gallery-item .photo-gallery img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.wrapper-global .wrap-contents .gallery .gallery-content .gallery-item .disc-gallery-item{
	width: 100%;
	height: 160px;
	background-color: #fff;
	color: #fff;
	transition: .4s all;
}
.wrapper-global .wrap-contents .gallery .gallery-content .gallery-item .disc-gallery-item h3{
	font-size: 24px;
	text-align: center;
	color: #ED3558;
	margin-top: 22px;
	margin-bottom: 13px;
	margin-bottom: 0;
}
.wrapper-global .wrap-contents .gallery .gallery-content .gallery-item .disc-gallery-item p{
	text-align: center;
	color: #000;
	margin: 0;
	margin-bottom: 15px;
}
.wrapper-global .wrap-contents .gallery .gallery-content .gallery-item .disc-gallery-item .zacaz-item{
	width: 153px;
	height: 35px;
	border-radius: 50px;
	background-color: #ED3558;
	/* border: 1px solid #C4C0C0; */
	display: block;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	text-decoration: none;
	margin: 0 auto;
}
.wrapper-global .wrap-contents .gallery .gallery-content .gallery-item:hover .disc-gallery-item h3{
	color: #fff !important;
}
.wrapper-global .wrap-contents .gallery .gallery-content .gallery-item:hover .disc-gallery-item p{
	color: #fff !important;
}
.wrapper-global .wrap-contents .gallery .gallery-content .gallery-item:hover .zacaz-item{
	background-color: #fff !important;
	transition: .4s all;
	color: #000;
}
.wrapper-global .wrap-contents .gallery .gallery-content .gallery-item:hover .disc-gallery-item p{
	color: #fff;
}
.wrapper-global .wrap-contents .step-wrap{
	width: 100%;
/*	background-image: url('../img/grey_back.png'); */
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;

}
.wrapper-global .wrap-contents .step{
	max-width: 1140px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 50px;
}
.wrapper-global .wrap-contents .step .items-step{
	margin-top: 50px;
display: flex;
justify-content: space-around;
-ms-align-items: flex-start;
align-items: flex-start;
}
.wrapper-global .wrap-contents .step .items-step .item-step{
	width: 290px;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.wrapper-global .wrap-contents .step .item-step{
	
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
	outline: none;
	outline: 0;
	text-decoration: none;
}
.wrapper-global .wrap-contents .step .item-step p{
width:100% !important;
}
.wrapper-global .wrap-contents .step .items-step .item-step .img-step{
	border-radius: 150px;
	overflow: hidden;
	position: relative;
	width: 160px;
	height: 155px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	transition: .4s all;
	cursor: pointer;
}
.wrapper-global .wrap-contents .step .item-step .img-step{
	border-radius: 150px;
	overflow: hidden;
	position: relative;
	width: 160px;
	height: 155px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	transition: .4s all;
	cursor: pointer;
}
.wrapper-global .wrap-contents .step .items-step .item-step .img-step .overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.7;
	border-radius: 150px;
}
.wrapper-global .wrap-contents .step .items-step .item-step .img-step img{
	
	width: 100%;

}
.wrapper-global .wrap-contents .step .items-step .item-step .img-step h4{
	z-index: 10;
	font-size: 60px;
	color: #ED3558;
	position: absolute;
	margin: 0;
}
.wrapper-global .wrap-contents .step .items-step .item-step .img-step:hover h4{
	color: #fff;
}
.wrapper-global .wrap-contents .step .items-step .item-step .img-step:hover .overlay{
	background-color: #000;
	opacity: 0.4;
	transition: .4s all;
}
.wrapper-global .wrap-contents .step .items-step .item-step h3{
	font-size: 24px;
	margin-bottom: 30px;
	width: 100%;
}
.wrapper-global .wrap-contents .step .items-step .item-step p{
	margin-top: 0;
	line-height: 20px;
}
.wrapper-global .wrap-contents .wrap-what{
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;
	position: relative;
	margin-top: 150px;
	min-height: 400px;

}
.rrr{
	margin: 30px;
}
.wrapper-global .wrap-contents .wrap-what .siren{
	background-color: #ED3558;
	width: 900px;
	height: 260px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
}
.wrapper-global .wrap-contents .wrap-what .video{
bottom: 20px;
right: 50px;
z-index: 5;
width: 535px;
height: 421px;
position: absolute;
}
.wrapper-global .wrap-contents .wrap-what .what-ask{
	z-index: 5;
	background-color: #fff;
	padding-left: 100px;
	padding-top: 43px;
	padding-bottom: 43px;
	width: 653px;
	height: 160px;
	-webkit-box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.41);
box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.41);
margin-bottom: 100px;
display: flex;
justify-content: flex-start;
-ms-align-items: center;
align-items: center;
}
.wrapper-global .wrap-contents .wrap-what .what-ask h3{
	margin: 0;
	font-size:40px;
}
.wrapper-global .wrap-contents .wrap-otz{
	max-width: 1100px;
	margin: 0 auto;

}
.wrapper-global .wrap-contents .wrap-otz .otz-h{
	font-size: 50px;
}
.wrapper-global .wrap-contents .wrap-otz .form-otzuv{
	width: 100%;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.wrapper-global .wrap-contents .wrap-otz .form-otzuv .disc-form-otzuv{
		width: 50%;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.wrapper-global .wrap-contents .wrap-otz .form-otzuv .disc-form-otzuv .fa{
	font-size: 50px;
	margin-right: 20px;
color: #ED3558;
}
.wrapper-global .wrap-contents .wrap-otz .form-otzuv .disc-form-otzuv span{
	font-size: 20px;
}
.wrapper-global .wrap-contents .wrap-otz .form-otzuv .disc-form-otzuv span .form-ot{
	color: #ED3558;
}
.wrapper-global .wrap-contents .wrap-otz .form-otzuv .form{
		width: 50%;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.wrapper-global .wrap-contents .wrap-otz .form-otzuv .form .inputs-l{
	
	display: flex;
	justify-content: center;
	-ms-align-items: flex-start;
	align-items: flex-start;
	flex-direction: column;
	margin: 12px;
}
.wrapper-global .wrap-contents .wrap-otz .form-otzuv .form .inputs-l input{
		border-radius: 30px;
	border: none;
	margin: 5px;
	padding: 10px;
	padding-left: 20px;
	outline: none;
		width: 200px;
		height: 20px;
		border-radius: 50px;
		border: 2px solid grey;
		background-color: #fff;
}
.wrapper-global .wrap-contents .wrap-otz .form-otzuv .form .inputs-l p{
	font-size: 13px;
	margin-top: 0;
}
.wrapper-global .wrap-contents .wrap-otz .form-otzuv .form .inputs-l button{
		width: 200px;
	color: #fff;
	background-color: #ED3558;
	text-decoration: none;
	transition: .4s all;
	border: 2px solid #ED3558;
	border-radius: 50px !important;
	margin: 5px;
	padding: 10px;
	padding-left: 20px;
	text-align: center;
	margin-top: 0;
}
.wrapper-global .wrap-contents .wrap-otz .form-otzuv .form .inputs-l a:hover{
		width: 200px;
	color:  #ED3558;
	background-color: #fff;
	text-decoration: none;
	transition: .4s all;
	border: 2px solid #ED3558;
	border-radius: 50px !important;
	margin: 5px;
	padding: 10px;
	padding-left: 20px;
	text-align: center;
	margin-top: 0;
	}
.wrapper-global .wrap-contents .wrap-otz .form-otzuv .form .inputs-l a .fa{
	margin-right: 10px;
	font-size: 20px;
}
.wrapper-global .wrap-contents .vudacha{
	max-width: 1140px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.wrapper-global .wrap-contents .vudacha h3{
	font-size: 50px;
}
.wrapper-global .wrap-contents .vudacha .items-vud{
	display: flex;
	justify-content: center;
	-ms-align-items: flex-start;
	align-items: flex-start;
}
.wrapper-global .wrap-contents .vudacha .items-vud .item-vud{
		display: flex;
	justify-content: center;
	-ms-align-items: flex-start;
	align-items: flex-start;
	margin: 20px;
	margin-top: 0;
}
.wrapper-global .wrap-contents .vudacha .items-vud .item-vud h3{
	font-size: 25px;
	margin: 0;
	    margin-left: 20px;
}
.wrapper-global .map iframe{
	margin-bottom: -30px;
	z-index: 0;
}
.wrapper-global .footer{
	width: 100%;
	min-height: 100px;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	background-color: #ED3558;
	z-index: 999;
}
.wrapper-global .footer .footer-content{
	max-width: 1250px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
}
.wrapper-global .footer .footer-content .item-footer{
	padding-left:50px ;
	padding-right:50px ;
	color: #fff;
}
.wrapper-global .footer .footer-content .item-footer .fa{
	color: #fff;
	margin-right: 20px;
	text-align: center;
	margin: 0 auto;
}
.wrapper-global .footer .footer-content .item-footer a{
	
	background-color: #fff;
	border-radius: 50px;
	text-align: center;
	display: block;
	height: 25px;
	width: 25px;
}
.wrapper-global .footer .footer-content .item-footer p{
	margin-bottom: 10px;
}
.wrapper-global .footer .footer-content .footer-link{
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}
.wrapper-global .footer .footer-content .footer-link a{
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	text-decoration: none;
	margin: 5px;
}
.wrapper-global .footer .footer-content .footer-link a .fa{
	color: #ED3558;
}
.wrapper-global .wrap-price{
	max-width: 1140px;
	margin: 0 auto;
}
.wrapper-global .wrap-price h3{
	font-size: 50px;
}
.wrapper-global .wrap-price .price-content{
display: flex;
justify-content: space-around;
-ms-align-items: center;
align-items: center;
padding-bottom: 50px;
}
.wrapper-global .wrap-price .price-content ul{
	width: 460px;
	height:  460px;
	padding: 0;
	/* position: relative; */
}

.wrapper-global .wrap-price .price-content ul .li-img{
width: 100%;
height: 100%;
overflow: hidden;
/* position: absolute; */
}

.wrapper-global .wrap-price .price-content ul .li-img img{
	height: 100%;
	/* position: absolute; */
	background-color: #fff;
	width: 100%;
}
.wrapper-global .wrap-price .price-content .price-list{
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.wrapper-global .wrap-price .price-content .price-list .price-list-item{
	width: 220px;
	height: 250px;
	display: flex;
	justify-content:flex-end;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	cursor: pointer;
	background-color:  #F7F7F7;
	transition: all .4s;
}

.wrapper-global .wrap-price .price-content .price-list .price-list-item h4 b{
	font-size: 24px;
}
.wrapper-global .wrap-price .price-content .price-list .price-list-item h5{
	font-size: 24px;
}
.wrapper-global .wrap-price .price-content .price-list .price-list-item.active{
background-color:  #ED3558;
-webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.25);
box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.25);
}
.wrapper-global .wrap-price .price-content .price-list .price-list-item.active a{
background-color: #fff;
color: #000;
}
.wrapper-global .wrap-price .price-content .price-list .price-list-item.active .cube-price{
	border: 5px solid #fff;
	color: #fff;
}
.wrapper-global .wrap-price .price-content .price-list .price-list-item.active .cube-price h5{
	color: #fff;
}

.wrapper-global .wrap-price .price-content .price-list .price-list-item h4,h5{
	margin: 5px;
}
.wrapper-global .wrap-price .price-content .price-list .price-list-item h4{
	margin: 0 !important;
}
.wrapper-global .wrap-price .price-content .price-list .price-list-item a{
background-color:#ED3558;
color: #fff;
border-radius: 50px;
text-align: center;
padding: 10px;
padding-left: 50px;
padding-right: 50px;
text-decoration: none;
margin-bottom: 10px;
}
.wrapper-global .wrap-price .price-content .price-list .price-list-item .cube-price{
	border-radius: 5px;
	border: 5px solid #ED3558;
	/* position: relative; */
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 20px;
}
.cube-price h5 {
	font-size: 14px !important;
}
.wrapper-global .wrap-price .price-content .price-list .price-list-item .cube-price h5{
	color: #ED3558;
}
.wrapper-global .wrap-price .price-content .price-list .price-list-item.active h4{
	color: #fff;
}
.wrapper-global .wrap-price .price-content .price-list .price-list-item.active h5{
	color: #fff;
}
.wrapper-global .wrap-price .price-content .price-list .price-list-item .it1{
	width: 46px;
	height: 78px;
	background-image: url(/img//img/sizes/bg-40x60.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}	
.wrapper-global .wrap-price .price-content .price-list .price-list-item .it2{
	width: 60px;
	height: 60px;
	background-image: url(/img//img/sizes/bg-50x50.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}	
.wrapper-global .wrap-price .price-content .price-list .price-list-item .it3{
	width: 60px;
	height: 97px;
	background-image: url(/img//img/sizes/bg-50x75.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.wrapper-global .wrap-price .price-content .price-list .price-list-item .it4{
	width: 66px;
	height: 97px;
	background-image: url(/img//img/sizes/bg-60x90.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}	
.wrapper-global .wrap-price .price-content ul .s50х50{
	display: none;
}
.wrapper-global .wrap-price .price-content ul .s50х75{
	display: none;
}
.wrapper-global .wrap-price  .price-content ul .s60х90{
	display: none;
}
.slick-slide img { 
display: block; 
width: 100%; 

z-index: 0;
}
.slick-slide{
	margin: 10px;
}
.slick-slide:focus {
  outline: none;
}
.slick-current img { 

	z-index: 10;
}
.slick-arrow:hover {
	border: 0;
}  
.wrapper-global .wrap-photo{
	padding-bottom: 40px;
}
.wrapper-global .wrap-photo h3{
	font-size: 50px;
	max-width: 1150px;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 50px;
}
.multiple-items{
	box-sizing: border-box;
	max-width: 80%;
	margin: 0 auto;
}
.multiple-items * {
	box-sizing: border-box;
}
.slick-prev{
	border-radius: 100px;
	/* background-image: url(/img//img/arl.png); */
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	left: -40px;
}
.slick-next{
	border-radius: 100px;
	/* background-image: url(/img//img/arr.png); */
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	right: -40px;
	outline: none !important;
}
.slick-arrow:before{
	display: none;
	outline: none !important;
}
.slick-prev:hover,.slick-prev:focus {
	border-radius: 100px;
	/* background-image: url(/img//img/arlb.png); */
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	outline: none !important;
}
.slick-next:hover,.slick-next:focus {
		border-radius: 100px;
	/* background-image: url(/img//img/arrb.png); */
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	outline: none !important;
}
.modal-big-form {
	max-width: 400px;
	width: 100%;
	height: 550px !important;
	overflow: hidden;
	max-height: 100%;
	background-color: rgba(0, 0, 0, 0);
}

.modal-big-form .modal-inner {
	max-width: 400px;
}

.modal-big-form .modal-content {
width: 100%;
height: 100%;
padding: 0;
padding-bottom: 40px;
background-color: #fff;
}
.modal-big-form .modal-header{
box-sizing: border-box;
padding: 0;
background-color:  #ED3558;
width: 100%;
height: 60px;
display: flex;
justify-content: flex-start;
-ms-align-items: center;
align-items: center;
padding-left: 55px;
color: #fff;
font-size: 24px;
}

@media (max-width: 400px) {
	.modal-big-form .modal-header {
		padding-left: 20px;
	}
}

.modal-big-form .modal-content .modal-header img{
	margin-right: 30px;
}
.modal-big-form .modal-content .modal-body{
display: flex;
justify-content: center;
-ms-align-items: center;
align-items: center;
-webkit-flex-direction: column;
-moz-flex-direction: column;
-ms-flex-direction: column;
-o-flex-direction: column;
flex-direction: column;
}
.modal-big-form .modal-content .modal-body h3{
	font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.modal-big-form .modal-content .modal-body p{
	width: 90%;
  margin: 0 auto;
  margin-bottom: 8px;
	text-align: center;
}
.modal-big-form .modal-content .modal-body .mb-item{
	height: 100%;
}
.modal-big-form .modal-content .modal-body .modal-body-left{
	text-align: center;
	width: 172px;
	height: 300px;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
}
.modal-big-form .modal-content .modal-body .modal-body-right{
	display: flex;
	justify-content: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
	flex-direction: column;
	height: 300px;
	width: 427px;
}
.modal-big-form .modal-content .modal-body .modal-body-right .inputs{
width: 100%;
display: flex;
justify-content: space-around;
-ms-align-items: flex-start;
align-items: flex-start;
margin-top: 20px;
}
.modal-big-form .modal-content .modal-body .modal-body-right .inputs .in-i{
	width: 195px;
}
.modal-big-form .modal-content .modal-body .modal-body-right .inputs .in-i input, select{
	display: block;
	width: 90%;
	height: 33px;
	margin: 0 auto;
	padding-left: 10px;
	border-radius: 50px;
	border:1px solid #959494;
	font-size: 12px;
	margin: 9px;
	outline: none;
}
.modal-big-form .modal-content .modal-body .modal-body-right .inputs .in-i select{
 width: 95% !important;
}
.modal-big-form .modal-content .modal-body .modal-body-right .inputs .in-i input:focus, select:focus{
	outline: none;
}
.modal-big-form .modal-content .modal-body .modal-body-right .bitAndPrice{
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	margin-top: 35px;
}
	.modal-big-form .modal-content .modal-body .modal-body-right .bitAndPrice span{
		color:  #ED3558;
		font-size: 24px;
		text-align: center;
		width: 195px;
		margin-left: 10px;
	}
	.modal-big-form .modal-content .modal-body .modal-body-right .bitAndPrice a{
		width: 188px;
		background-color:   #ED3558;
		color: #fff;
		text-decoration: none;
		height: 33px;
		text-align: center;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		border-radius: 50px;
		margin-right: 5px;
	}
.modal-big-form .modal-footer{
		background-color: rgba(0, 0, 0, 0);
		border: none;
		box-shadow: none;
		padding: 0;

}
.modal-big-form .modal-footer a{
		color: #fff;
		padding: 0;
}
.modal-big-form .modal-content .footer-mod{
	width: 100%;
	border-top: 1px solid  #ED3558;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.modal-big-form .modal-content .footer-mod p{
	margin: 0 auto;
	text-align: center;
	margin-top: 18px;
	color: #999696;
	margin-bottom: 5px;
}
.modal-big-form .modal-content .modal-body .form{
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 100%;
}
.modal-big-form .modal-content .modal-body .form button{
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
	background-color:#ED3558 !important;
	color:#fff;
	border:none;
}
.modal-big-form .modal-content .modal-body .form button .fa{
	margin-right: 20px;
}
.modal-big-form {
	-webkit-box-shadow: none;
}
.modal-big-form .modal-content .modal-body .form input{
text-align: center;
width: 60%;
border-radius:50px;
border: 1px solid #ED3558 !important;
margin-top: 10px;
border:1px solid #eaeaea;
font-size: 17px;
margin-bottom: 5px;
height: 35px;
}

@media (max-width: 400px) {
	.modal-big-form .modal-content .modal-body .form input {
		width: 80%;
	}
}
.modal-big-form .text-in {
	display: inline-block;
  padding: 8px;
  margin: 0;
	text-align: center;
	font-size: 13px;
}
.file-field{
		width: 60%;
}
.btn{
	width: 100%;
	position: relative;
	border-radius:50px;
	height: 35px;
border-bottom:#ED3558 !important;
background-color:#ED3558 !important;
border:none;
color:#fff;
font-size: 17px;
padding: 0;
}
.btn input{
	position: absolute;
	width: 60%;
	height: 100%;
}
.btn  span{
	font-size: 14px;
	text-transform: none;
}
.file-field input[type=file]{
	width: 100% !important;
	margin-top: 0 !important;
}
.slick-slide a[data-fancybox=images]:focus {
	outline: 0;
}
.send_header {
	font-size: 14px;
}
.send_header:focus {
	background-color: #ED3558;
	color: #fff;
}

.is-hidden {
	display: none;
}

.modal-box *,
.modal-message * {
	box-sizing: border-box;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 78, 79, 0.82);
  z-index: 9999!important;
}

.modal-inner {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
	max-width: 790px;
	width: 100%;
  text-align: center;
  background-color: #fff;
  z-index: 99999;
}

.modal-message .modal-inner {
	max-width: 500px;
}

.modal-content__text {
	margin: 0;
	padding: 25px 16px 25px 16px;
	font-size: 20px;
	line-height: 1.3;
}

.modal-content__text .fa-heart-o {
	display: inline-block;
	margin-top: 16px;
	color: #ED3558;
}

.modal-content__container {
	position: relative;
	width: 100%;
}

.modal-content__title {
	margin: 0;
	padding: 8px 16px;
	font-family:GothaProReg;
  font-size: 24px;
	line-height: 1.2;
	font-weight: bolder;
	color: #fff;
	background-color: #ED3558;
}

.modal-content__title--light {
	font-weight: lighter;
}

.modal-content__title .fa-phone {
	display: inline-block;
	vertical-align: middle;
	margin-right: 16px;
	font-size: 35px;
	line-height: 1;
}

.modal-form {
	padding: 25px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal-form > * {
	display: block;
	width: 190px !important;
}

.modal-form__field {
	margin-bottom: 20px;
	padding: 10px 10px 10px 20px;
	height: 40px;
	border: 1px solid rgb(149, 148, 148);
	border-radius: 50px;
	font-size: 14px;
	line-height: 1;
	color: rgb(149, 148, 148);
	box-shadow: none;
}

.modal-form__field:focus {
	outline: none;
	border-color: #ED3558;
}

.modal-form__btn {
	position: relative;
	border-radius: 50px;
  height: 40px;
  border: 2px solid #ED3558;
	background-color: #ED3558;
	border: none;
	color: #fff;
	font-size: 14px;
  padding: 0;
  transition: .4s all;
}

.modal-form__btn:hover {
	color: #ED3558;
	background-color: #fff;
}

.modal-form__btn:focus {
  outline: none;
  border: 2px solid #9a5cb4;
  color: #fff;
	background-color: #ED3558;
}

.modal-form__btn .fa-phone {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}

@media (min-width: 700px) {
	.modal-form {
		flex-direction: row;
	}

	.modal-form__field {
		margin-right: 15px;
		margin-bottom: 0;
	}
}

.modal-content__close {
  position: absolute;
	top: -15px;
	transform: translateY(-100%);
  right: 0;
  width: 26px;
  height: 26px;
  z-index: 999999;
  cursor: pointer;
}

.modal-content__close::before,
.modal-content__close::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 0;
  width: 20px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-content__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

[type=file] {
  outline: 0;
}

#file1 {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 220px;
  height: 40px;
  line-height: 1;
  border-radius: 60px;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.donload_photo {
  position: relative !important;
}

#btn-attach {
	position: relative;
}

#addFile2 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50px;
	border: 2px solid transparent;
}

.modal-form-call input {
  color: #000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  background-color: #fff !important;
  color: #000;
}

@media (max-width: 400px) {
  .multiple-items .slick-prev {
    left: -30px;
  }

  .multiple-items .slick-next {
    right: -30px;
  }
}

  .fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
	opacity: 0;
  }

  .bounce-enter-active {
	animation: bounce-in .5s;
  }
  .bounce-leave-active {
	animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
	0% {
	  transform: scale(0);
	}
	50% {
	  transform: scale(1.5);
	}
	100% {
	  transform: scale(1);
	}
  }


@-webkit-keyframes rainbow {
	0% {background: rgb(70, 9, 9);}
	50% {background: #ED3558}
	100% {background: rgb(70, 9, 9);}
}
 
@keyframes rainbow {
	0% {background: rgb(70, 9, 9);}
	50% {background: #ED3558}
	100% {background: rgb(70, 9, 9);}
} 
 
#anim-button {
	cursor: pointer;
    width: 190px;
	height: 55px;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	color: #fff;
	text-decoration: none;
	background:  #333;
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;

	webkit-animation: rainbow 2s linear 2s infinite;
	animation: rainbow 2s linear 2s infinite;
}

input.error {
	border: 2px solid red!important;
	background-color: #fba6a7!important;
}