<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />

  <title>Title</title>
  <meta name="description" content="" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <meta property="og:image" content="path/to/image.jpg" />
  <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png" />

  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#000" />
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#000" />
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#000" />

  <link rel="stylesheet" href="css/styles.min.css" />
</head>

<body>

  <div class="wrap" id="app">
    <div class="container">
      <div class="menu-head">
        <div class="menu-head__logo">
          <a href="/"><img src="https://uprint.space/img/logo.png" alt="" class="logo-img" /></a>
          <span>
            Твій сервіс для <br> друку на холсті
          </span>
        </div>
        <div class="menu-head__group">
          <div class="menu-head__group-right">
            <div class="menu-head__actions">
              <div class="menu-head__locale">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>Черновцы, ул. Героев Майдана, 71</span>
              </div>
              <div class="menu-head__locale">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>Режим роботи: <b>9:00 - 19:00</b></span>
              </div>
              <div class="menu-head__phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel: 0951499837">(095) 14 99 837</a>
              </div>
  
            </div>
            <nav class="menu-head__nav">
              <a class="active" href="#">Головна</a>
              <a href="#">Популярні питання</a>
              <a href="#">Відгуки</a>
              <a href="#">Послуги</a>
              <a href="#">Ціни</a>
              <a href="#">Статті</a>
              <a href="#">Про нас</a>
              <a href="#">Документи</a>
              <!-- <a href="#">Зворотній зв'язок</a> -->
            </nav>
          </div>

          <div
            class="menu-head__call-btn"
            @click="callbackForm = true"
            id="call-me-header"
          >
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>Заказать звонок</span>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper-global">
      <div class="wrap-content">
        <header class="header section scrollspy" id="header-screen">
          <div class="header-content">
            <div class="header-content-left">
              <img src="/img/img/girl-header.png" alt="" />
            </div>
            <div class="header-content-right">
              <h1>Качественная печать</h1>
              <h3>фото-картин на холсте</h3>
              <h5>
                Картина на холсте - оригинальный подарок <br />
                и стильный элемент интерьера
              </h5>
              <div class="form" id="formAttach1">
                <div class="header-form-h">
                  <img src="/img/img/file.svg" width="60px" alt="" />
                  <p>
                    <b>Заполните заявку </b>и получите <br />
                    макет картины уже сегодня
                  </p>
                </div>
                <div class="inputs-header">
                  <div class="inputs-h">
                    <input type="text" name="name" placeholder="Имя" v-model="name" />
                    <input type="tel" name="phone" placeholder="Телефон" :class="{'error' : error}" v-model="phone"
                      v-mask="'+38(0##) ## ## ###'" />
                  </div>
                  <div class="inputs-l">
                    <!-- <span class="text-in" id="attachment-result"
                        >Jpeg, Jpg, Png до 10mb</span> -->
                    <a class="donload_photo" id="addFile1">
                      <i class="fa fa-download" aria-hidden="true"></i><span>{{
                          uploadedImg.url ? 'Фото получено' : 'Загрузить фото'
                        }}</span>
                      <input @change="uploadPhoto" type="file" name="fileforsending" id="file1"
                        accept=".png, .jpg, .jpeg" />
                    </a>
                    <button @click="sendOrder('Шапка')" style="width: 224px !important;" class="btn-defaul send_header">
                      <i class="fa fa-envelope-o" aria-hidden="true"></i><span>Отправить заявку</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>

      <div class="wave _grey"></div>

      <div class="wrap-contents icon-wrapss">
        <div class="wrap-icon">
          <div class="iacon-content">
            <div class="icon-item">
              <img src="/img/img/diploma-paper-roll.svg" alt="" />
              <p>Натуральный <br />холст</p>
            </div>
            <div class="icon-item">
              <img src="/img/img/eco-energy.svg" alt="" />
              <p>Эко- <br />краски</p>
            </div>
            <div class="icon-item">
              <img src="/img/img/commercial-delivery-symbol-of-a-list-on-clipboard-on-a-box-package.svg" alt="" />
              <p>Доставка <br />Новой Почтой</p>
            </div>
            <div class="icon-item">
              <img src="/img/img/blank-check-box.svg" alt="" />
              <p>
                Монтаж на<br />
                подрамник
              </p>
            </div>
            <div class="icon-item">
              <img src="/img/img/gift.svg" alt="" />
              <p>Подарочная <br />упаковка</p>
            </div>
            <div class="icon-item">
              <img src="/img/img/checked.svg" alt="" />
              <p>
                Изготовление<br />
                от 1 дня
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container" id="gallery-screen">

        <div class="u-section">
          <div class="u-section__title">
              <b>Идеи для печати</b>
          </div>
          <div class="u-section__subtitle">
              фото-картины на холсте
          </div>
        </div>

        <div class="u-service-list">
          <div class="u-service-item" @click="selectService('Простая печать')">
            <div class="u-service-item__photo">
              <limg src="https://uprint.space/img/hjgfjv.jpg" alt="" />
            </div>
            <div class="u-service-item__about">
              <div class="u-service-item__title">
                <b>Простая печать</b>
              </div>
              <div class="u-service-item__subtitle">
                  Мы просто напечатаем ваше фото
              </div>
              <div class="u-service-item__on-order">
                Заказать
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="wave _grey"></div>

      <div class="wrap-contents section scrollspy" id="price-screen">
        <div class="wrap-price">
          <div class="group-block">
            <h3>
              <b>Размеры и цены</b> <br />на популярные <br />
              картины по фото
            </h3>
          </div>
          <div class="price-content">
            <ul>
              <li><img :src="activeService.img || '/img/img/photo/pricephoto/p1.jpg'" /></li>
            </ul>
            <div class="price-list">
              <div class="price-list-item" :class="{'active' : activeService.index === 1}"
                @mouseover="setActiveService(1, '/img/img/photo/pricephoto/p1.jpg')"
                @click="selectSize('55x55 - 355грн')">
                <div class="cube-price it2">
                  <h5>71</h5>
                </div>
                <h4><b>355 грн</b></h4>
                <h5>55x55</h5>
                <a class="modal-trig">Заказать</a>
              </div>
              <div class="price-list-item" :class="{'active' : activeService.index === 2}"
                @mouseover="setActiveService(2, '/img/img/photo/pricephoto/p2.jpg')"
                @click="selectSize('40x60 - 385грн')" data-img="/img/img/photo/pricephoto/p2.jpg">
                <div class="cube-price it1">
                  <h5>72</h5>
                </div>
                <h4><b>385 грн</b></h4>
                <h5>40x60</h5>
                <a class="modal-trig">Заказать</a>
              </div>
              <div class="price-list-item" @click="selectSize('50x75 - 550грн')"
                data-img="/img/img/photo/pricephoto/p3.jpg">
                <div class="cube-price it3">
                  <h5>90</h5>
                </div>
                <h4><b>550 грн</b></h4>
                <h5>50x75</h5>
                <a class="modal-trig">Заказать</a>
              </div>
              <div class="price-list-item" @click="selectSize('60x90 - 635грн')"
                data-img="/img/img/photo/pricephoto/p4.jpg">
                <div class="cube-price it4">
                  <h5>108</h5>
                </div>
                <h4><b>635 грн</b></h4>
                <h5>60x90</h5>
                <a class="modal-trig">Заказать</a>
              </div>
            </div>
          </div>
        </div>
        <div class="all-price-section">
          <h2 class="modal-content__title">
            <i class="fa fa-money" aria-hidden="true"></i> Цены
            <span class="modal-content__title--light">на все размеры</span>
          </h2>
          <div class="form-content">
            <ul>
              <li @click="selectSize('40x40 - 275грн')">
                <p>40x40<span> - 275 грн</span></p>
                <div class="button">заказать</div>
              </li>
              <li>
                <p>40x40<span> - 275 грн</span></p>
                <div class="button">заказать</div>
              </li>
              <li>
                <p>40x40<span> - 275 грн</span></p>
                <div class="button">заказать</div>
              </li>
              <li>
                <p>40x40<span> - 275 грн</span></p>
                <div class="button">заказать</div>
              </li>
              <li>
                <p>40x40<span> - 275 грн</span></p>
                <div class="button">заказать</div>
              </li>
              <li>
                <p>40x40<span> - 275 грн</span></p>
                <div class="button">заказать</div>
              </li>
              <li>
                <p>40x40<span> - 275 грн</span></p>
                <div class="button">заказать</div>
              </li>
              <li>
                <p>40x40<span> - 275 грн</span></p>
                <div class="button">заказать</div>
              </li>
              <li>
                <p>40x40<span> - 275 грн</span></p>
                <div class="button">заказать</div>
              </li>
              <li>
                <p>40x40<span> - 275 грн</span></p>
                <div class="button">заказать</div>
              </li>
              <li>
                <p>40x40<span> - 275 грн</span></p>
                <div class="button">заказать</div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="wrap-contents portfolio-contents">
        <div class="wrap-photo section scrollspy" id="photo-screen">
          <h3>
            <b>Фото-картины сделанные</b><br />с любовью для наших клиентов
          </h3>
        </div>

        <div class="gallery-section-wrap">
          <div class="siema">
            <a href="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" class="img-container gallery-item">
              <img src="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" alt="" />
            </a>
            <a href="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" class="img-container gallery-item">
              <img src="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" alt="" />
            </a>
            <a href="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" class="img-container gallery-item">
              <img src="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" alt="" />
            </a>
            <a href="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" class="img-container gallery-item">
              <img src="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" alt="" />
            </a>
            <a href="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" class="img-container gallery-item">
              <img src="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" alt="" />
            </a>
            <a href="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" class="img-container gallery-item">
              <img src="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" alt="" />
            </a>
          </div>

          <div class="next-container"></div>
        </div>

        <div class="wrap-photo section scrollspy" id="photo-screen">
          <h3>
            <b>Фото-картины сделанные</b><br />с любовью для наших клиентов
          </h3>
        </div>

        <div class="gallery-section-wrap">
          <div class="siema-reviews">
            <a href="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" class="img-container gallery-item">
              <img src="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" alt="" />
            </a>
            <a href="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" class="img-container gallery-item">
              <img src="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" alt="" />
            </a>
            <a href="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" class="img-container gallery-item">
              <img src="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" alt="" />
            </a>
            <a href="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" class="img-container gallery-item">
              <img src="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" alt="" />
            </a>
            <a href="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" class="img-container gallery-item">
              <img src="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" alt="" />
            </a>
            <a href="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" class="img-container gallery-item">
              <img src="https://uprint.space/img/portfolio/69596962_2673170009413089_628389918132110763_n.jpg" alt="" />
            </a>
          </div>

          <div class="next-container-reviews"></div>
        </div>
      </div>

      <div class="wave _grey"></div>

      <div class="wrap-contents scrollspy" id="steps-screen">
        <div class="step-wrap">
          <div class="step">
            <h2 class="step-header">
              <b>3 шага</b><br />и фото-картина ваша
            </h2>
            <div class="items-step">
              <div class="item-step">
                <div class="img-step">
                  <h4><b>01</b></h4>
                  <img src="/img/img/photo/step1.jpg" alt="" />
                  <div class="overlay"></div>
                </div>
                <h3>
                  <b>Заполните заявку <br />на сайте </b>
                </h3>
                <p>Не забудьте прикрепить фотографию</p>
              </div>
              <div class="item-step rrr" style="width: 150px; margin-top: 60px;">
                <img src="/img/img/arrow_s.png" alt="" />
                <h3 style="opacity: 0;">Заполните заявку <br />на сайте</h3>
              </div>
              <div class="item-step">
                <div class="img-step">
                  <h4><b>02</b></h4>
                  <img src="/img/img/photo/step2_s.png" alt="" />
                  <div class="overlay"></div>
                </div>
                <h3>
                  <b>Получите макет <br />вашей картины</b>
                </h3>
                <p>
                  Дизайнер пришлет Вам на почту макет будущей картины, для
                  согласования. Изготовление картины на холсте занимает 1 день
                  после согласования макета.
                </p>
              </div>
              <div class="item-step rrr" style="width: 150px; margin-top: 60px;">
                <img src="/img/img/arrow_s.png" alt="" />
                <h3 style="opacity: 0;">Заполните заявку <br />на сайте</h3>
              </div>
              <div class="item-step">
                <div class="img-step">
                  <h4><b>03</b></h4>
                  <img src="/img/img/photo/step3.jpg" alt="" />
                  <div class="overlay"></div>
                </div>
                <h3>
                  <b>Получите готовую <br />фото-картину</b>
                </h3>
                <p>
                  Вы можете заказать доставку Новой Почтой или забрать картину
                  в городе Черновцы.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="wrap-contents scrollspy" id="otzuv-screen">
        <div class="wrap-otz">
          <div class="form-otzuv">
            <div class="disc-form-otzuv">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span class="text-form"><span class="form-ot"><b>Форма обратной связи</b></span><br />Остались
                вопросы?</span>
            </div>
            <div class="form" action="#" method="POST" id="form-call2">
              <div class="inputs-l">
                <input type="text" name="name" id="name2" placeholder="Имя" v-model="name" />
                <input type="tel" name="phone" id="phone2" :class="{'error' : error}" placeholder="Телефон"
                  v-model="phone" v-mask="'+38(0##) ## ## ###'" />
              </div>
              <div class="inputs-l">
                <p>
                  Закажите обратный звонок и мы перезвоним <br />что бы
                  ответить на ваши вопросы!
                </p>
                <button @click="sendCallBack" style="width: 224px !important;" class="btn-defaul send_header">
                  <i class="fa fa-phone" aria-hidden="true" style="margin-right:20px;"></i>Перезвоните мне
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="wave _accent"></div>

      <div class="wrap-contents">
        <footer class="footer">
          <div class="footer-content">
            <div class="item-footer">
              <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;<span>Черновцы, ул. Героев Майдана,
                71</span>
            </div>
            <div class="item-footer" style="border-left: 1px solid #fff; border-right: 1px solid #fff">
              <i class="fa fa-phone white-phone" aria-hidden="true"></i><span>&nbsp; (066) 06-46-333</span>
            </div>
            <div class="item-footer footer-link" style=" border-right: 1px solid #fff">
              <!-- <a href="https://www.instagram.com/holstfoto_cv/" target="_blank">
                  <i class="fa fa-instagram" aria-hidden="true">
              </a>
              <a href="https://vk.com/id345868525" target="_blank">
                <i class="fa fa-vk" aria-hidden="true"></i>
              </a> -->
            </div>
            <div class="item-footer">
              <p>
                <span id="name" style="font-family: RobotoMedium;"><b>uPrint.pro </b> </span><span
                  id="disc-name"><b>Печать фото-картин на холстах</b></span><br />Печать картин, фотографий,
                репродукций <br />
                на холсте с доставкой по Украине.
              </p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    
    <div class="u-fixed-menu">

      <div class="menu__button">
        <img src="/img/img/pointing-right.svg" alt="">
        Відкрити меню
      </div>
      
      <div class="menu__body" hidden="hidden">
        <div class="menu__header">
          <p>Меню</p>
          <div class="btn-close" title="Close">
            <div></div>
          </div>
        </div>
        
        <div class="menu__links">
          <a href="#0">About Us</a>
          <a href="#0">Services</a>
          <a href="#0">Pricing</a>
          <a href="#0">Blog</a>
          <a href="#0">Contact</a>
        </div>
        
        <div class="menu__contact">
          <a href="#0"> 
            <object type="image/svg+xml" data="/img/img/icons/phone.svg" width="200" height="200" ></object>
            <span>Телефон</span>
          </a>
          <a href="#0"> 
            <object type="image/svg+xml" data="/img/img/icons/viber.svg" width="200" height="200" ></object>
            <span>viber</span>
          </a>
          <a href="#0"> 
            <object type="image/svg+xml" data="/img/img/icons/instagram.svg" width="200" height="200" ></object>
            <span>instagram</span>
          </a>
        </div>
      </div>
      <div class="menu__overlay" hidden="hidden"></div>
    </div>

    <div class="popups-container">
      <div id="modal-form2" class="modal-box callback-form" :class="{'open' : callbackForm == true}">
        <div class="modal-background" @click="callbackForm = false"></div>
        <div class="modal-inner">
          <div class="modal-content__container">
            <h2 class="modal-content__title">
              <i class="fa fa-phone" aria-hidden="true"></i>Закажите звонок
              <span class="modal-content__title--light">и мы Вам перезвоним</span>
            </h2>
            <div id="form-call" class="modal-form modal-form-call">
              <input name="name" id="modal-form-name" class="modal-form__field browser-default" type="text"
                placeholder="Имя" v-model="name" />
              <input name="phone" id="modal-form-phone" class="modal-form__field browser-default"
                :class="{'error' : error}" type="tel" placeholder="Телефон" v-model="phone"
                v-mask="'+38(0##) ## ## ###'" />
              <button class="modal-form__btn" @click="sendCallBack">
                <i class="fa fa-phone white-phone" aria-hidden="true"></i>
                <span>Заказать звонок</span>
              </button>
            </div>
            <div class="modal-content__close" @click="callbackForm = false"></div>
          </div>
        </div>
      </div>

      <div class="modal-message" :class="{'open' : popupSubmited == true}">
        <div class="modal-background" @click="popupSubmited = false"></div>
        <div class="modal-inner">
          <div class="modal-content__container">
            <h2 class="modal-content__title">Все получилось!</h2>
            <p class="modal-content__text">
              Мы скоро свяжемся с вами<br />
              <i class="fa fa-heart-o  fa-3x" aria-hidden="true"></i>
            </p>
            <slot></slot>

            <div class="modal-content__close" @click="popupSubmited = false"></div>
          </div>
        </div>
      </div>

      <div class="modal-message" :class="{'open' : popupError.show == true}">
        <div class="modal-background" @click="popupError.show = false"></div>
        <div class="modal-inner">
          <div class="modal-content__container">
            <h2 class="modal-content__title">Помилка</h2>
            <p class="modal-content__text">
              {{ popupError.text }}<br />
            </p>
            <slot></slot>

            <div class="modal-content__close" @click="popupError.show = false"></div>
          </div>
        </div>
      </div>

      <div class="modal-message" :class="{'open' : popupPhotoSubmited == true}">
        <div class="modal-background" @click="popupPhotoSubmited = false"></div>
        <div class="modal-inner">
          <div class="modal-content__container">
            <h2 class="modal-content__title">Фото завантажене</h2>
            <p class="modal-content__text">
              Тепер можна відправити заявку<br />
            </p>
            <slot></slot>

            <div class="modal-content__close" @click="popupPhotoSubmited = false"></div>
          </div>
        </div>
      </div>

      <div id="modal-form1" class="modal-big-form" :class="{'open' : popupOrder == true}">
        <div class="modal-background" @click="popupOrder = false"></div>
        <div class="modal-inner">
          <div class="modal-content">
            <div class="modal-header">
              <img src="/img/img/icon_modal.png" alt="" />
              <span><span><b>Заказать </b></span>картину</span>
            </div>
            <div class="modal-body">
              <h3><b>ОСТАВЬТЕ ЗАЯВКУ</b></h3>
              <p>и вы получите макет вашей будущей картины!</p>

              <div class="form" enctype="multipart/form-data" id="formAttach2">
                <input type="text" name="name" id="name3" placeholder="Имя" v-model="name" />
                <input type="tel" name="phone" id="phone3" placeholder="Телефон" :class="{'error' : error}"
                  v-model="phone" v-mask="'+38(0##) ## ## ###'" />
                <div>
                  <span class="text-in" id="attachment-result2"></span>
                </div>
                <div class="file-field input-field">
                  <div class="btn" id="btn-attach">
                    <span id="addFile2">{{
                        uploadedImg.url ? 'Фото получено' : 'Прикрепить фото'
                      }}</span>
                    <input @change="uploadPhoto" type="file" name="fileforsending" id="file2"
                      accept=".png, .jpg, .jpeg" />
                  </div>
                </div>
                <button @click="sendOrder('Попап форма')" class="btn-defaul send_header">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i><span>Отправить заявку</span>
                </button>
                <div v-if="uploadedImg.url" class="img-container-prev">
                  <img :src="uploadedImg.url" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-content__close" @click="popupOrder = false"></div>
        </div>
      </div>
    </div>

    <div class="spiner-container" :class="{'show' : spiner}">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>

  </div>

  <script type="text/x-template" id="imgTemplate">
      <img
        v-observe-visibility="{
          once: true,
          callback: handleView,
          intersection: {
            rootMargin: '100px',
            threshold: 0
          }
        }"
        :src="imgSrc"
        alt="uprint.space"
      />
    </script>

  <script crossorigin="anonymous"
    src="https://polyfill.io/v3/polyfill.min.js?features=default%2CIntersectionObserver"></script>

  <script src="js/scripts.min.js"></script>
  <script src="js/build.min.js"></script>
</body>

</html>